[Unit]
Description=ifupdown service for networking
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/sbin/ifup -a
ExecStop=/sbin/ifdown -a

[Install]
WantedBy=multi-user.target
